<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pip">

    <application
        android:icon="@drawable/home"
        android:label="@string/app_name" >
        <activity
            android:exported="true"
            android:label="@string/app_name"
            android:name=".AppActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:label="@string/app_name"
            android:name=".App2Activity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:label="@string/app_name"
            android:name=".scroll"/>

        <activity
            android:label="@string/app_name"
            android:name=".recycle"/>
    </application>

</manifest>